// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//COLOR VARIABLES
$blood: #ed1c24;

//FONT VARIABLES
$baseFamily: 'din-condensed';
$thinWeight: 200;
$baseWeight: 300;
$boldWeight: 600;

$baseFont: 1.5rem;
$mediumFont: 1.5rem;
$largeFont: 2.5rem;
$massiveFont: 3rem;

//SPACERS
$sp1: .25rem;
$sp2: .5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;


// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//BOOTSTRAP COLOR OVERRIDES/ADDITIONS
$theme-colors: (
  "blood": $blood
);

$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap.scss';



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
html {

}

body {
  font-family: $baseFamily;
  font-weight: $baseWeight;
  //font-size: $baseFont;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  overflow-x:hidden;
}

a {
  color: white;
}

a:hover {
  color: $blood;
  text-decoration: none;
}

.noUserSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.icon {
  @include media-breakpoint-only(xs) {
    //height: 100%;
    width: 40px;
    margin-top: 5%;
    margin-left: 1rem;
    left: 0;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 4.5%;
    //display: block;
    //@extend .col-auto;
    height: 100%;
    margin-left: auto;
    margin-right: $sp3;
    width: 4%;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 5%;
  }
}

a img {
  transition: .3s opacity;
}

a img:hover {
  opacity: .55;
  transition: .3s opacity;
  cursor: pointer;
}

.link {
  @extend .ml-auto;
  @extend .float-right;
  @extend .mb-3;
  @extend .mr-4;
  @extend .position-absolute;
  bottom:0;
  right:1rem;
  font-size: 160%;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               TEXT                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            BUTTONS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                              SOCIAL                            //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
