// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//COLOR VARIABLES
$blood: #ed1c24;

//FONT VARIABLES
$baseFamily: 'din-condensed';
$thinWeight: 200;
$baseWeight: 300;
$boldWeight: 600;

$baseFont: 1.5rem;
$mediumFont: 1.5rem;
$largeFont: 2.5rem;
$massiveFont: 3rem;

//SPACERS
$sp1: .25rem;
$sp2: .5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;


// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//BOOTSTRAP COLOR OVERRIDES/ADDITIONS
$theme-colors: (
  "blood": $blood
);

$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap.scss';



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
html {

}

body {
  font-family: $baseFamily;
  font-weight: $baseWeight;
  //font-size: $baseFont;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  overflow-x:hidden;
}

a {
  color: white;
}

a:hover {
  color: $blood;
  text-decoration: none;
}

.noUserSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.icon {
  @include media-breakpoint-only(xs) {
    //height: 100%;
    width: 40px;
    margin: 0 $sp2;
    //margin: 110px 1rem 0 1rem;
    //left: 0;
    //top: 100px;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 4.5%;
    height: 100%;
    margin-left: auto;
    margin-right: $sp3;
    width: 4%;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 4%;
  }
}

.apple-icon {
  fill: rgba(#D56DFB, 1);

  &:not(.icon) {
    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }
  }

  h4 {
    color: rgba(#D56DFB, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#D56DFB, 1);
      transition: all .3s;
    }
  }
}


.spotify-icon {
  fill: rgba(#1db954, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#1db954, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#1db954, 1);
      transition: all .3s;
    }
  }
}

.twitter-icon {
  fill: rgba(#1da1f2, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#1da1f2, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#1da1f2, 1);
      transition: all .3s;
    }
  }
}

.facebook-icon {
  fill: rgba(#4267B2, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#4267B2, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#4267B2, 1);
      transition: all .3s;
    }
  }
}

.instagram-icon {
  fill: rgba(#c13584, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.12);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#c13584, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#c13584, 1);
      transition: all .3s;
    }
  }
}

.youtube-icon {
  fill: rgba(#FF0000, 1);


  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp2;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#FF0000, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#FF0000, 1);
      transition: all .3s;
    }
  }
}

.google-icon {
  fill: rgba(#65696d, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#65696d, 1);
  }

  &.front > svg {
  fill: white;
  transition: all .3s;

    &:hover {
      fill: rgba(#65696d, 1);
      transition: all .3s;
    }
  }
}

.iheart-icon {
  fill: rgba(#ca0f21, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#ca0f21, 1);
  }
}

.castbox-icon {
  fill: rgba(#f25c31, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#f25c31, 1);
  }
}

.deezer-icon {
  fill: rgba(#000, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#000, 1);
  }
}

.stitcher-icon {
  fill: rgba(#000, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.08);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#000, 1);
  }
}

.podchaser-icon {
  fill: rgba(#000, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.11);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#000, 1);
  }
}

.spreaker-icon {
  fill: rgba(#f4c316, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp1;
    }

    &:hover {
      filter: brightness(1.04);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#f4c316, 1);
  }
}

.overcast-icon {
  fill: rgba(#fc7e0f, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp2;
    }

    &:hover {
      filter: brightness(1.04);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#fc7e0f, 1);
  }
}

.jiosaavn-icon {
  fill: rgba(#2cc5b5, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp2;
    }

    &:hover {
      filter: brightness(1.04);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#2cc5b5, 1);
  }
}

.podcastaddict-icon {
  fill: rgba(#F4842D, 1);

  &:not(.icon) {

    width: 210px;

    svg {
      width: 50px;
      margin-right: $sp2;
      margin-bottom: $sp2;
    }

    &:hover {
      filter: brightness(1.04);
      transition: filter 0.4s;
    }

  }

  h4 {
    color: rgba(#F4842D, 1);
  }
}


a img:hover {
  opacity: .55;
  transition: .3s opacity;
  cursor: pointer;
}

.bottomMenu {
  position: absolute;
  right:0;
  bottom: 1.5rem;
  //width: 100%;
  text-align: right;
  @extend .mr-4;
}

.aboutBlurb {
  width: 220px;

  @include media-breakpoint-up(md) {
    bottom: 6.5rem;
  }

  @include media-breakpoint-up(lg) {
    bottom: 3.4rem;
  }
}





.card {
  background: rgba(white, .95);
}

.blood {
  color: $blood;
}

.bold {
  font-weight: $boldWeight;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               TEXT                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //



// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               NAV                              //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.blood {
  &:hover {
    color: rgba($blood, .7);
    transition: color 0.2s;
  }
}

.nav-link {
  &.mobile{
    color: black;
  }


  &:hover {
    transition: color 0.2s;
  }

  &.active {
    color: $blood;
  }
}

.nav-item {
  margin-bottom: -.5rem;
}

.xButton {
  float: left;
  margin-top: -44px;
  font-size: 170%;
  cursor: pointer;
  font-family: sans-serif;
  position: absolute;
  z-index: 40;

  margin-left: -38px;
  border: 2px solid black;
  padding: 0rem .45rem;
  //border-radius: 5rem;

  @include media-breakpoint-up(sm) {
    margin-left: -26px !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }


  &:hover {
    color: $blood !important;
  }
}

.about {
  //@extend .float-right;
  @extend .mx-3;
  //@extend .position-absolute;
  bottom:0;
  //left:1rem;
  right:0;
  font-size: 150%;
}

.listen {
  //@extend .float-right;
  @extend .mx-3;
  //@extend .position-absolute;
  bottom:0;
  right:0;
  font-size: 150%;
}

.help {
  //@extend .float-right;
  @extend .mx-3;
  //@extend .position-absolute;
  bottom:0;
  right:0;
  font-size: 150%;
}

.contact {
  //@extend .float-right;
  @extend .mx-3;
  //@extend .position-absolute;
  bottom:0;
  right:0;
  font-size: 150%;
}


// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               PAGES                            //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //


.aboutPage, .listenPage, .helpPage {
  margin-right: .9rem;
  z-index: 20;
  height: 80%;
  width: 105%;
  top: 18%;
  left: -$sp1;

  overflow-y: scroll;

  @include media-breakpoint-up(sm) {
    height: 70%;
    width: 97%;
  }

  h5 {
    font-weight: 300;
  }

  .bio {
    margin-bottom: $sp5;

    img {
      max-width: 150px;
      clip-path: inset(0 0 0 0 round 3%);
    }

    .bioText {
      display: inline-flex;
      width: 75%;
      vertical-align: top;
      padding: 0 $sp3;
    }
  }

}

.extraCredits {
  a {
    color: black;

    &:hover {
      color: $blood;
      transition: color 0.2s;
    }
  }
}

.rewards {
  li {
    list-style: circle;
    width: 75%;
  }
}
